@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    gap: 20em;
    padding: 24px 0;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 64px;
    background-color: #1F2937;
    padding-top: 36px;
    padding-bottom: 100px;
}

.hero p {
    padding-bottom: 12px;

}

#info {
    text-align: center;
}

.items {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 80px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 148px;
}

.item p {
    color: #1F2937;
    text-align: center;
    margin: 0;
    padding: 0;
}

.img-container {
    border: solid #3882f6;
    border-radius: 12px;
    height: 148px;
    width: 148px;
    margin-bottom: 8px;
}

#info {
    margin: 0;
    padding: 32px 0;
}

.this-quote p {
    text-align: start;
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author p {
    font-size: 18px;
    font-weight: 700;
    text-align: end;
    margin: 0;
}

.quote-container {
    width: 780px;
    justify-self: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 64px 0;
}

.sign-up-bar {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.sign-up-bottom {
    align-self: center;
}

.footer {
    text-align: center;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.left-nav p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
    margin: 0;
}

.right-nav {
    align-self: center;
}

.text-container {
    width: 400px;
}

.text-container h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.text-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    width: 400px;
    height: 213px;
    align-self: center;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 700;
}