body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 128px;
    background-color: #1F2937;
}

#info {
    text-align: center;
}

.items {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 180px;
}

.img-container {
    background-color: burlywood;
    height: 120px;
    width: 120px;
}

.quote {
    width: 700px;
    justify-self: center;
}

.author {
    text-align: end;
}

.sign-up-bar {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.sign-up-bottom {
    align-self: center;
}

.footer {
    text-align: center;
}


ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.left-nav p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.right-nav {
    align-self: center;
}

.text-container {
    width: 400px;
}

.text-container h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.text-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}